@import "tailwindcss";

:root {

      --bg-background: #f7f4eb;
      --bg-btn-category: #ecebe8;
      --bg-icon-allergen: #f1ede4;
      --font-inter: "Inter", sans-serif;
      --font-garamond: "EB_Garamond", sans-serif;
      --color-text: #171717;
      --color-text-btnCategory: #575656;
      --color-text-number: #b8a47a;
      --color-text-description: #737373;

      
      

}

@theme inline {

      /* Color de fondo */
      --color-bg-background: var(--bg-background);
      --color-bgBtnCategories: var(--bg-btn-category);
      --color-bgIconAllergen: var(--bg-icon-allergen);
      
      
      /* Fuentes */
      --font-inter: var(--font-inter);
      --font-garamond: var(--font-garamond);

      /* Tamños de fuentes */
      --text-10px: .639rem;
      --text-13px: .813rem;
      --text-15px: .93799rem;

      /* Separaciones de caracteres */
      --tracking-3: .3em;
      --tracking-4: .4em;

      

      /* color de texto */
      --color-colorText: var(--color-text);
      --color-colorTextCategory: var(--color-text-btnCategory);
      --color-colorTextNumber: var(--color-text-number);
      --color-colorTextDescription: var(--color-text-description);
}

